{% extends 'user_base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'repository/css/profile.css' %}">
{% endblock styles%}


{% block title %}
Профиль
{% endblock title %}

{% block content %}
    <div class="container">
        Здесь будет профиль
        <button class="btn btn-primary" onclick="location.href={% url 'logout' %}">Выйти</button>
    </div>
{% endblock content %}

{% block scripts%}
<script>document.getElementById("header_profile_link").classList.add("active");</script>
{% endblock scripts%}