header {
    width: 100%;
    margin: 0 auto;
    padding-top: 66px;
    height: 86px;
}

#__main {
    min-width: 1000px;
}

body {
    min-width: 1000px;
}

.header-navigation {
    margin: auto;
    width: 86%;
    min-width: 890px;
    max-width: 1640px;
    padding-left: 55px;
    padding-right: 55px;
    height: 86px;
}

.header-logo {
    margin-top: 3px;
    width: 629px;
    height: 80px;
    float: left;
}

.header-navRight {
    float: right;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.btn-primary {
    --bs-btn-hover-bg: #244e96;
    --bs-btn-active-bg: #2856a7;
    --bs-btn-hover-border-color: #1B3B72;
    --bs-btn-border-color: #1B3B72;
    font-family: 'Montserrat';
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-color: white;
    --bs-btn-bg: #1B3B72;
}

.btn-outline-primary {
    --bs-btn-hover-bg: #1B3B72;
    --bs-btn-hover-border-color: #1B3B72;
    --bs-btn-border-color: #1B3B72;
    font-family: 'Montserrat';
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-color: #1B3B72;
    --bs-btn-active-bg: #244e96;
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}