{% load search_templatetags %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Название кейса</th>
            <th scope="col">Платформа/сервис/ПО </th>
            <th scope="col">Подразделение НИУ ВШЭ</th>
            <th scope="col">Комментарии</th>
        </tr>
    </thead>
    <tbody>
    {% for case in cases %}
        <tr>
            <td><a href="{{ case.pk }}/" data-case-pk={{ case.pk }}>{{ case.case_title }}</a></td>
            <td>{% if case.case_platform%}{{ case.case_platform }}{% endif %}</td>
            <td>{% if case.case_department %}{{ case.case_department }}{% endif %}</td>
            <td>{% cut_description case.case_annotation %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>