{% load static %}
{% load repository_templatetags %}
<header>
    <div class="header-navigation">
        <a href="{% url 'repository' %}"><img src="{% static 'imgs/logo.png' %}" class="header-logo"></a>
        <div class = "header-navRight">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'repository' %}" id="header_repo_link">Репозиторий</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}" id="header_profile_link">Профиль</a>
                </li>
                <li class="nav-item">
                    <div class="select-menu ">
                        <div class="select-btn">
                          <a class="nav-link">Меню</a>
                        </div>
                      
                        <ul class="options">
                          <li class="option">
                            <i class="bx bxl-instagram-alt" style="color: #E1306C;"></i>
                            <button href={% url 'create_case' %} data-bs-toggle="modal" data-bs-target="#modal" class="option-text">Создать кейс</button>
                          </li>
                          <li class="option">
                            <i class="bx bxl-linkedin-square" style="color: #0E76A8;"></i>
                            <a href={% url 'settings' %} class="option-text">Настройки</a>
                          </li>
                          <li class="option">
                            <i class="bx bxl-facebook-circle" style="color: #4267B2;"></i>
                            <a href={% url 'logout' %} class="option-text">Выйти</a>
                          </li>
                        </ul>
                        <div class="modal fade" id="modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Выберите тип кейса</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <select name="case_department" class="form-select" aria-label="Выберите департамент" id="id_case_department">
                                      {% get_types_options as types %}
                                      {% for type in types %}
                                        <option value={{type|index:0}}>{{type|index:1}}</option>
                                      {% endfor %}
                                    </select>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                      <button type="button" class="btn btn-primary" id="submit-my-variant" onclick="window.location.href='{% url 'create_case' %}'">Добавить</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      </div>
                </li>
            </ul>
        </div>
    </div>
</header>
<script src={% static 'js/_header_user.js'%}></script>