.container {
    width: 75%;
    min-width: 900px;
    margin: 0 auto;
    padding-top: 78px;
    padding-bottom: 238px;
}

#create_case_button {
    background: #0050CF;
}

#q {
    float: right;
    width: 250px;
}

#submit-filters {
    margin-top: 100px;
}

.field-label {
    margin-top: 30px;
}

.empty {
    margin-top: 100px;
    color: #8b8b8b;
}
#flex {
    margin-top: 50px;
}

#flex ul {
    display: flex;
    flex-wrap: wrap;
}

#flex ul li {
    margin-top: 20px;
    list-style: none;
    flex: 0 0 33.3333333%;
}

.card-title {
    font-weight: bold;
}
.card-text {
    font-weight: lighter;
}
.btn-group {
    float: right;
}

.squares {
    width: 23px;
    height: 23px;
}
.list {
    height: 23px;
}